In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

### 1.Taking the DataSet

In [3]:
df=pd.read_csv("dataset.csv")

In [4]:
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

## 2. Exploratory Data Analysis

In [5]:
print(df.shape)
print(df.size)
print(df.info())

(10000, 9)
90000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB
None

In [6]:
print(df.describe)

<bound method NDFrame.describe of           id                                          title  \
0        278                       The Shawshank Redemption
1      19404                    Dilwale Dulhania Le Jayenge
2        238                                  The Godfather
3        424                               Schindler's List
4        240                         The Godfather: Part II
...      ...                                            ...
9995   10196                             The Last Airbender
9996  331446                       Sharknado 3: Oh Hell No!
9997   13995                                Captain America
9998    2312  In the Name of the King: A Dungeon Siege Tale
9999  455957                                         Domino

                                                 genre original_language  \
0                                          Drama,Crime                en
1                                 Comedy,Drama,Romance                hi
2                                          Drama,Crime                en
3                                    Drama,History,War                en
4                                          Drama,Crime                en
...                                                ...               ...
9995                          Action,Adventure,Fantasy                en
9996  Action,TV Movie,Science Fiction,Comedy,Adventure                en
9997                        Action,Science Fiction,War                en
9998                    Adventure,Fantasy,Action,Drama                en
9999                             Thriller,Action,Crime                en

                                               overview  popularity  \
0     Framed in the 1940s for the double murder of h...      94.075
1     Raj is a rich, carefree, happy-go-lucky second...      25.408
2     Spanning the years 1945 to 1955, a chronicle o...      90.585
3     The true story of how businessman Oskar Schind...      44.761
4     In the continuing saga of the Corleone crime f...      57.749
...                                                 ...         ...
9995  The story follows the adventures of Aang, a yo...      98.322
9996  The sharks take bite out of the East Coast whe...      12.490
9997  During World War II, a brave, patriotic Americ...      18.333
9998  A man named Farmer sets out to rescue his kidn...      15.159
9999  Seeking justice for his partner’s murder by an...      16.482

     release_date  vote_average  vote_count
0      1994-09-23           8.7       21862
1      1995-10-19           8.7        3731
2      1972-03-14           8.7       16280
3      1993-12-15           8.6       12959
4      1974-12-20           8.6        9811
...           ...           ...         ...
9995   2010-06-30           4.7        3347
9996   2015-07-22           4.7         417
9997   1990-12-14           4.6         332
9998   2007-11-29           4.7         668
9999   2019-05-31           4.6         221

[10000 rows x 9 columns]>

In [7]:
movies=df[["id","title","genre","overview"]]

In [8]:
movies.head()

,id,title,genre,overview
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [9]:
movies["tags"]=movies["genre"]+movies["overview"]

C:\Users\Srinath\AppData\Local\Temp\ipykernel_19192\1842741410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"]=movies["genre"]+movies["overview"]

In [10]:
new_df=movies.drop(columns=["genre","overview"],axis=1)

In [11]:
new_df.head()

,id,title,tags
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."

## Count Vectorizer

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv=CountVectorizer(max_features=10000,stop_words="english")

In [14]:
vector=cv.fit_transform(new_df["tags"].values.astype("U")).toarray()

In [15]:
vector.shape

(10000, 10000)

## Cosine Similarity

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
similarity=cosine_similarity(vector)

In [18]:
similarity

array([[1.        , 0.06253054, 0.05802589, ..., 0.07963978, 0.07597372,
        0.03798686],
       [0.06253054, 1.        , 0.08980265, ..., 0.        , 0.        ,
        0.        ],
       [0.05802589, 0.08980265, 1.        , ..., 0.02541643, 0.03636965,
        0.        ],
       ...,
       [0.07963978, 0.        , 0.02541643, ..., 1.        , 0.03327792,
        0.03327792],
       [0.07597372, 0.        , 0.03636965, ..., 0.03327792, 1.        ,
        0.04761905],
       [0.03798686, 0.        , 0.        , ..., 0.03327792, 0.04761905,
        1.        ]])

In [19]:
new_df[new_df["title"]=="Iron Man"].index[0]

969

In [20]:
distance=sorted(list(enumerate(similarity[2266])),reverse=True,key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_df.iloc[i[0]].title)

Spider-Man
Spider-Man: Into the Spider-Verse
Spider-Man 3
Spider-Man: Homecoming
The Amazing Spider-Man 2

In [21]:
def recommend(movies):
    index=new_df[new_df["title"]==movies].index[0]
    distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:20]:
        print(new_df.iloc[i[0]].title)

In [22]:
recommend("Iron Man")

Iron Man
Mazinger Z: Infinity
Justice League Dark
Iron Man 3
The Colony
Marvel One-Shot: Item 47
Insurgent
Iron Man 2
Star Wars: The Force Awakens
The Rocketeer
The New Mutants
Avengers: Age of Ultron
Regular Show: The Movie
Suicide Squad: Hell to Pay
The Lawnmower Man
Dead Rising: Watchtower
Venom: Let There Be Carnage
Resident Evil: Extinction
Guardians of the Galaxy Vol. 2
The 6th Day

## Pickle Module

In [23]:
import pickle

In [24]:
pickle.dump(new_df,open("movies_list","wb"))

In [25]:
pickle.dump(similarity,open("similarity.pkl","wb"))

In [26]:
pickle.load(open("movies_list","rb"))

,id,title,tags
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,CrimeSeeking justice for his p..."

In [27]:
pickle.load(open("similarity.pkl","rb"))

array([[1.        , 0.06253054, 0.05802589, ..., 0.07963978, 0.07597372,
        0.03798686],
       [0.06253054, 1.        , 0.08980265, ..., 0.        , 0.        ,
        0.        ],
       [0.05802589, 0.08980265, 1.        , ..., 0.02541643, 0.03636965,
        0.        ],
       ...,
       [0.07963978, 0.        , 0.02541643, ..., 1.        , 0.03327792,
        0.03327792],
       [0.07597372, 0.        , 0.03636965, ..., 0.03327792, 1.        ,
        0.04761905],
       [0.03798686, 0.        , 0.        , ..., 0.03327792, 0.04761905,
        1.        ]])